#title {
    font-size: 4rem;
    padding: 0.5rem 0rem;
    
}



#wave_gif {
    position: absolute;
    bottom: 0;
    right:0;
}
#hook, #descriptor_line {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
#hook {
   font-style: italic; 
}
#contact-button {
    position: relative;
    left: 0px;
    top: 0px;
    margin-top: 1rem;
    width: max-content;
    background: lightpink;
    font-size: x-large;
}
#contact-button:hover {
    left: 5px;
    top: 5px;
    color: white;
    background: white;
    animation-name: color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes fill {
    0% {background-color: #ffb6c1;}
    20% {background-color: #ffd700;}
    40% {background-color: #90ee90;}
    60% {background-color: #6fc9e7;}
    80% {background-color: #d18af4;}
    100% {background-color: #ffb6c1;}
  }
  @keyframes color {
    0% {color: #ffb6c1;}
    20% {color: #ffd700;}
    40% {color: #90ee90;}
    60% {color: #6fc9e7;}
    80% {color: #d18af4;}
    100% {color: #ffb6c1;}
  }
/* #name-box {
    background-color: rgba(138, 43, 226,0.5);
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 1rem 1rem 1rem 1rem;
} */
/* #name-box-arrow {
    box-sizing: content-box;
    padding:0;
    margin:0;
    height: 5px;
    border-left:rgba(138, 43, 226,0.5) solid 1rem;
} */
#name_gif_box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 1;
    position: relative;
    
}
#name_gif {
    width: 80%;
    margin: auto;
    margin-top: -2rem;
    /* margin-top: 0; */
    pointer-events: none;
}
#header-text, #hook, #descriptor_line {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.image_section {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-gap: 1rem;
    margin: auto;
}
.grid_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.row_section {
    display:flex;
    flex-direction: row;
    width: 100vw;
    margin:auto;
}
.image_gallery {
    /* display: flex;
    align-items: stretch; */
    /* flex-wrap: wrap; */
    align-self: center;
    margin:auto;
    /* width: calc(100vw-2rem); */
    display: grid;
    grid-template-columns: calc(32vw - 1rem) calc(32vw - 1rem) calc(32vw - 1rem);
    grid-gap: 1rem;
    
  }
  
  .image_gallery .img_and_label {

    cursor: pointer;
    position: relative;
    /* flex-grow: 1; */
  }
  
  .image_gallery .img_and_label img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    /* border-radius: 5px; */
  }

  .img_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(21, 4, 51, 0.7);
    bottom: 0;
    left: 0;
    padding:1rem;
    /* transform: scale(0); */
    opacity: 0;
    transition: 0.3s;
    color: #fff;
    /* border-radius: 5px; */
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img_overlay .year {
    font-size: 1rem;
    font-weight: normal;
  }
  
  /* hover */
  .image_gallery .img_and_label:hover .img_overlay {
    /* transform: scale(1); */
    opacity: 1;
    /* filter:drop-shadow(0 0 5px rgb(161, 130, 214)); */
    border: 2px solid #d18af4;
  }


  .img_and_label {
    margin-bottom: 1rem;
  }

  #modal_header {
    font-family: Rowdies, sans-serif;
    color: white;
    text-align: center;
  }
#home_main {
    position: absolute;
    
    top: 8rem;
  }

  .video_clip {
    max-height: 90vh;
    border: lightgray 1px solid;
  }

  .addit_images {
    width: 100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

html {
    scroll-behavior: smooth;
}


@media (max-width: 815px) {

    .home_header {
        padding: 2rem;
        padding-top: -2rem;

    }
    /* .header_text {
        height: fit-content;
    } */
    h2 {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    .nice_list {
        font-size: 1.2rem;

    }
    #title {
        font-size: 2rem;
    }
    #name_gif {
        width: 100%;
        margin: auto;
        margin-top: 0;
    }
    .image_gallery {
        width: 90%;
        grid-template-columns: 100%;
        margin: 0;
    }
    

 }
@media (min-width: 768px) and (max-width: 1000px) { 

    /* .project_grid {

        grid-template-columns: 90%;
    } */
    #name_gif {
        width: 95%;
        margin: auto;
        margin-top: 0;
    }
    .skill {
        display: grid;
        grid-template-columns: auto 15rem;
        grid-gap: 2rem;
    }
    .project_cover {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .project_text {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: center;
    } */
    /* .section_button {
        width: fit-content;
        margin-left: auto;
    } */


}
@media (min-width: 1001px) and (max-width: 1199px) { 

 }
@media (min-width: 1200px) { 

 }