.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  /* .column {
    float: left;
    width: 25%;
  } */
  .modal_thumbnail_box {
    height: 100px;
    display: flex;
    flex-direction: row;
  }

  .modal_thumbnail_box img {
    height: 100%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* padding-top: 100px; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
    overscroll-behavior: contain;
    /* text-align: center; */
  }

  .mySlides p.text {
    font-size: 1.2rem;
    color: white;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
    
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    /* background-color: #fefefe; */
    margin: auto;
    padding: 0;
    max-width: 90vw;
    width: auto;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: fixed;
    top: 0;
    padding: 0.5rem;
    right: 1.5rem;
    font-size: 3rem;
    font-weight: bold;
    transition: 0.3s;
    filter:drop-shadow(white 0 0 0px) ;
    z-index: 2;
  }
  
  .close:hover,
  .close:focus {

    filter:drop-shadow(white 0 0 15px) ;
    color: #d18af4;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* max-height: 90vh; */
  }

  .mySlides img {
    display: flex;
    max-height: 95vh;
    max-width: 90%;

  }


  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: fixed;
    top: 0;
    left:0;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* margin-top: -50px; */
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.3s;
    /* border-radius: 0 3px 3px 0; */
    user-select: none;
    -webkit-user-select: none;
    filter:drop-shadow(white 0 0 0px);
    /* background: rgb(21, 4, 51); */
  }


  
  /* Position the "next button" to the right */
  .next {
    right: 1rem;
    left: auto;
    /* border-radius: 3px 0 0 3px; */
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    /* background-color: rgba(0, 0, 0, 0.8); */
    filter:drop-shadow(white 0 0 15px) ;
    color: #d18af4;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 1rem;
    padding: 8px 12px;
    /* position: absolute;
    top: 0; */
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    /* background-color: black; */
    padding: 0 1rem;
    color: white;
  }
  
  .modal-preview {
    opacity: 0.6;
  }
  
  .active,
  .modal-preview:hover {
    opacity: 1;
    cursor: pointer;
  }

  .active {
    border: white 2px solid;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .modal_iframe {
    width:1280px;
    height: 720px;
    max-width: 100%;
    max-height: calc(100vw * 3 / 4);
  }

  #modal_header {
    /* background-image: linear-gradient(to bottom, rgba(111, 201, 231,1), rgba(111, 201, 231,0)); */
    /* background-image: radial-gradient(rgba(111, 201, 231,1), rgba(111, 201, 231,0),rgba(111, 201, 231,0) ); */
    color: rgba(144, 238, 144,1);
    border-bottom: rgb(21, 4, 51) solid 2px;

  }

  .mySlides h3 {
    text-align: center;
    color: white;
    font-size: 2rem;
    width: 60%;
  }

  .modal_desc_text {
    color: white;
    font-size: 1.5rem;

  }

@media (max-width: 815px) {
  .mySlides h3 {


    width: 90%;
  }

}

@media (min-width: 768px) and (max-width: 991px) { 

  .mySlides h3 {


    width: 70%;
  }
}


