@font-face{
    font-family: Mupen;
    src: url("fonts\mupen\Mupen.ttf");
    }


*, *::before, *::after {
    box-sizing: border-box;

}

html {
    box-sizing: border-box;

}
h2 {
    padding: 1rem;
    font-size: 2rem;
}
.box_title {
    padding-top:0;
}
h4 {
    
    padding: 1rem;
    width: 300px;
    transition: 0.3s;
    
}
h3 {
    padding-bottom:1rem;
    font-size: 1.5rem;

}

h3.company_name {
    padding:0;
}
p {
    padding: 0rem 1rem;
}

.nav_link {
    text-decoration: none;
    color: #150433;
}

h4:hover {
    transition: 0.3s;
    background: white;
}

#project_content {
    margin: 0;
    padding: 0;
    background: lightslategray;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:0;
    text-align: left;
    align-items:flex-start;

    
}
#left_side_bar {
    position:fixed;
    /* width: 20vw; */
    width: 300px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    display: grid;
    grid-template-rows: 250px auto;
    background: rgb(209, 138, 244);
    height: 100vh;
    top: 8rem;
}
#home_menu {
    
    width: min-content;
    /* position: fixed; */
    width: 100%;
    z-index: 1;

}
#logo_wiggley {
    width: 400px;
    margin:1rem auto;
 
}


.project_header {
    color:white;
    /* background: rgb(209, 138, 244); */
    
    background-image: linear-gradient(to bottom right, rgb(21, 4, 51), rgb(209, 138, 244));
    padding: 3rem;
    padding-top:0;

    display: flex;
    flex-direction: column;
    min-height: 250px;
    
}

.page_title {
    font-size: 4rem;
    font-family: Rowdies, sans-serif;
}
.section_title {
    font-family: Rowdies, sans-serif;
}
.subtitle {
    font-size: 1.5rem;
    
}

.section {
    padding: 1.5rem;
    background: white;
    border-radius: 1rem;
    /* width: calc(90vw - 300px); */
    width: 80%;
    margin: auto;
    margin-top: 2rem;

}

.pink h2 {
    color: rgb(210, 111, 126);
}
.blue h2 {
    color: rgb(45, 147, 182);
}
.green h2 {
    color: rgb(59, 181, 59);
}
.yellow h2 {
    color: rgb(214, 167, 49);
}
.purple h2 {
    color: rgb(209, 138, 244);
}
.pink hr {
    background-color: rgb(210, 111, 126);
}
.blue hr {
    background-color: rgb(45, 147, 182);
}
.green hr {
    background-color: rgb(59, 181, 59);
}
.yellow hr {
    background-color: rgb(214, 167, 49);
}
.purple hr {
    background-color: rgb(209, 138, 244);
}


#home_icon {
    position: fixed;
    z-index:2;
    width: 7rem;
    height:7rem;
    left: 0.5rem;
    top: 0.5rem;
    filter: invert(8%) sepia(54%) saturate(5647%) hue-rotate(259deg) brightness(52%) contrast(105%) drop-shadow(0 0 0 white) ;

    transition: 0.3s;
}
#home_icon:hover {
    filter: invert(8%) sepia(54%) saturate(5647%) hue-rotate(259deg) brightness(52%) contrast(105%) drop-shadow(0 0 10px white);
    transition: 0.3s;
}
.scrolling_box {
    display: flex;
    flex-direction: row;
    overflow:auto;
    padding: 0.5rem;
    background:#ffd700;
    border: 2px lightgray solid;
    white-space: nowrap;
}
.scrolling_images {
    width: 40%;
    height: auto;
    padding: 0 0.25rem;
}


#non-nav-content {
    /* width: calc(100% - 300px); */
    width: 100%;
    position: absolute;
    /* left:300px; */
    top: 8rem;
}
.big_image {
    width: 80%;
}
/* --------------------------------->iterative */
.figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 0.25rem;
}
.figure_text {
    width: 40%;
    margin: 1rem;
}
.text_only {
    width: 100%;
    margin: 1rem;
}
.figure_box {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.figma_alt {
    position: absolute;
    z-index: -1;

}


/* ---------------------------------------- carousel */
table {
    
    padding: 1rem;
}
td {
    border-top: 2px white solid;
    padding: 1rem;
}
th {
    text-align: left;
    padding-bottom: 1rem;
    /* border-right: 2px lightgray solid; */
    padding: 1rem;
    
}
tr {
    border-bottom: 2px lightgray solid;
}
.table_sketch {
    width: 100%;
    cursor: zoom-in;
}
.sketches {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
ol {
    font-weight: normal;
   
}

.project_grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.header_text {
    text-align: center;
    width: 80%;
    margin: auto;
}
p.subtitle {
    /* width: 80%; */
    /* margin: auto; */
}
.section_subtitle {
    margin: auto;
    color: white;
    margin-bottom: 1rem;
    width: 80%;
}

.photo_grid {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    margin: auto;
    width: min-content;
}
.five-wide {
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
    grid-template-rows: auto;
}
.grid_photo {
    width: 100%;
    height: 100%;
}

.grid_text {
    color: white;
    text-align: center;
    width: 80%;
    margin: auto;
}
.big_lottie {
    /* width: calc(75% + 2rem);
    margin: auto; */
    height: 300px;
}
#anim_mood_box {
    height:min-content;
    width: calc(80% + 2rem);
    margin: auto;
    display: flex;
    flex-direction: row;
}
.moods_preview_box {
    /* height: 500px; */
    
}
.moods_preview_img {
    margin:auto;
    border: 3px lightgray solid;
}
#moods_previews {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
}
.image_section {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin:auto;
    align-items: center;
    justify-content: center;
    gap:0;
}
.sunnie_reacts {
    /* width: 500px; */
    height: auto;
    margin: 0.25rem;
}
.tab_body {
    width: 90%;
    margin:auto;
    background: rgba(255,255,255,0.1);
    border: #d18af4 solid 3px;
    padding: 2rem 1rem;
}
#tab_titles {
    
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-bottom:0;
    max-width: 90%;
    margin:auto;
}
.tab_title {
    text-align:center;
    background:rgb(209, 138, 244);
    padding: 1rem;
    margin: 0 0.25rem;
    border-radius: 1rem 1rem 0 0;
    cursor: pointer;
    font-weight: bold;
}
.container {
    width: 50%;
    justify-content: space-around;
    
}
.millipede{
    width:33%;
    margin: 0 0.25rem;
}
.aof_gifs {
    width: 30%;
    margin: 0.25rem;
}
.floating {
    width: 80%;
    margin:auto;
    color: white;
}
.youtube_iframe {
    width: 100%;
    height: 500px;
}
#internships_title {
    margin-bottom: 1rem;
}
.day_night {
    width: 50%;
    margin: 0.25rem;
}
.bh_sb {
    width: 60%;
    margin: 0.25rem;
    border:lightgray 2px solid;
}
.grid_reformat {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
}
.project_header {

    padding: 3rem;
    padding-top:0;



    min-height: 100px;
    overflow: hidden;
    position: relative;
    
}
.header_bg {
    position:absolute;
    left:0;
    top:-100px;

    width: 100%;

}
.half-flex {
    display: grid;
    grid-template-columns: 50% 50%;
}


.carousel-control-prev-icon {
    filter:drop-shadow(black 0 0 10px) invert(100%);
    opacity: 100%;
}

.gh_logo_section {
    width: 90%;
    margin:auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30% 70%;
}
.bh_package_section {
    width: 90%;
    margin:auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
}
.gh_logo {
    Width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: center;


}

.bh_package_big {
    width: calc(90% + 10px);
    margin: 10px auto auto auto;
}
.gh_logo img {
    Width: 100%;
    object-position: center;
}

#sunnie_halves {
    background-image: linear-gradient(to bottom top, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
    transform: translate(0,35%);
    margin-top: -3rem;
    /* position: relative;
    
    bottom: -90%; */
    z-index:2;
    /* align-items: flex-start; */
}

.icon_chain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.program_icon {
    /* height: 1rem; */
    height: 4rem;
}
#sunnie_emotes_5 {
    width: 90%;
    margin:auto;
}

#spc_logo_section {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    width: 90%;
    margin:auto;
}

#spc_logo_context {
    /* display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px; */
    width: 90%;
    margin:auto;
    display: flex;
    flex-direction: row;
    height: calc(20vw);
    flex: 1 1 auto;
    gap:10px;
    justify-content: center;

}


#bh_storyboards {
    flex-direction: row;
    width: 80%;
}

.hover_cover {
    object-fit: contain;
    object-position: center;
}
/* #sunnie_halves_section {
    height: 300px;
    position: relative;
} */

/* .lottie_holder {

}
.big_lottie {
    position:absolute;
} */
/* ---------------------------------------------- @media for projects */

@media (max-width: 767px) {
    #logo_wiggley {
        width: 100%;
        
    }
    .container {
        width: 100%;
        justify-content: space-around;
    }
    .project_grid{
        flex-direction: column;
        position: relative;
        left:-1rem;
    }
    .subtitle {
        font-size: 1rem;
    }
    .image_section {
        flex-direction: column;
    }
    .figure {
        width: 90%;
    }
    .figure_text {
        width: 90%;
    }
    .figure_box {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .page_title {
        font-size: 2rem;
   
    }
    .section_subtitle {

        margin-bottom: 0;
        width: 100%;
    }
   
    .header_text {
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .tab_title {
        text-align:center;
        background:rgb(209, 138, 244);
        padding: 1rem;
        margin: 0 0.1rem;
        border-radius: 1rem 1rem 0 0;
        cursor: pointer;
        font-weight: bold;
        font-size: smaller;
    }
    .aof_gifs {
        width: 60%;
        margin: 0.25rem;
    }
    .youtube_iframe {
        width: 100%;
        height: 200px;
        border:lightgrey solid 2px;
    }
   
    .millipede{
        width:90%;
        margin: 0.25rem 0;
    }
    .day_night {
        width: 50%;
        margin: 0.25rem;
    }
    .bh_sb {
        width: 100%;
        margin: 0.25rem;
    }
    .grid_reformat {
        width: 80%;
        display: flex;
        flex-direction:column;
        margin: auto;
    }
    .grid_reformat .image_section {

        flex-direction: row;

    }
    .header_bg {
       
        top:0;
    

    
    }
    .icon_chain {
        margin:auto;
    }
    #bh_storyboards {
        flex-direction: column;
        width: 100%;
    }
    .scalable {
        width: 100%;
    }
    .micro-animations {
        display: none;
    }
    #sunnie_halves {

        transform: translate(0,30%);

    }
    .program_icon {
        /* height: 1rem; */
        height: 2rem;
    }
 }
@media (min-width: 768px) and (max-width: 1200px) { 
    
    #logo_wiggley {
        width: 90%;
    }
    
    .container {
        width: 100%;
        justify-content: space-around;
    }
    .project_grid{
        flex-direction: column;
        position: relative;
        left:-1rem;
    }
    .subtitle {
        font-size: 1.2rem;
    }
    .figure {
        width: 90%;
    }
    .figure_text {
        width: 90%;
    }
    .figure_box {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
   
    .page_title {
        font-size: 3rem;
   
    }
    .youtube_iframe {
        width: 100%;
        height: 300px;
    }
    .bh_sb {
        width: 100%;
        margin: 0.25rem;
    }
    #bh_storyboards {
        flex-direction: column;
    }
    .header_bg {
       
        top:-100px;
    

    
    }
    .icon_chain {
        margin:auto;
    }

}
@media (min-width: 1001px) and (max-width: 1199px) {  }
@media (min-width: 1200px) {  }